{% load static %}
<footer>
    <div style="margin-top: -100px;">
        <hr style="background-color: rgb(52,58,64); margin-bottom: 15px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4" style="margin-top: 8px">
                    <a href="tel:072-864-3592" style="color: rgb(52,58,64);">
                        <em class="fa fa-phone"></em>&nbsp;072-864-3592
                    </a>
                </div>
                <div class="col-md-4" style="padding-top: 5px;">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="https://github.com/tlotlegomgp" target="_blank" rel="noopener noreferrer">
                                <em class="fa fa-github-alt"></em>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://t.me/tlotlegomgp" target="_blank" rel="noopener noreferrer">
                                <em class="fa fa-telegram"></em>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4" style="margin-top: 8px;">
                    <a href="mailto:tlotlegomgp@gmail.com" style="color: rgb(52,58,64);">
                        <em class="fa fa-envelope"></em>&nbsp;tlotlegomgp@gmail.com
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>