{% load static %}
<div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="liquidModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-6 text-center">
                            <h3>Liquid Bug Tracker</h3>
                            <p>
                                A bug tracker web-app that keeps track of reported software bugs or issues in software development
                                    projects. Helps teams collaborate and get work done easily and more efficiently. 
                                    The system has a per-project role-based access control for users. The system allows for 4 types 
                                    of users; Admin, Project Manager, Developer, and Submitter.<br><br>
                                    Site hosted on Heroku's free plan. Might take a moment to open on first launch.
                            </p>
                            <ol>
                                <li style="margin-left: -40px; list-style: none;">
                                    <span class = "badge badge-dark">Django</span>
                                    <span class = "badge badge-dark">PostgreSQL</span>
                                    <span class = "badge badge-dark">AWS</span>
                                    <span class = "badge badge-dark">Heroku</span>
                                </li>
                            </ol>
                            
                            <div class="btn-group" role="group" style="margin: 5px;">
                                <button onclick="location.href='https://liquid-tracker.herokuapp.com/'" class="btn button-dark" type="button">
                                    &nbsp; Live&nbsp;&nbsp;<em class="fa fa-play-circle-o"></em>&nbsp;
                                </button>
                                <button onclick="location.href='https://github.com/tlotlegomgp/bug-tracker'" 
                                    class="btn button-dark" type="button">
                                    Source&nbsp;<em class="fa fa-github"></em>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 d-none d-sm-block">
                            <img class="img-fluid img-thumbnail" alt='project screenshot' src="{% static 'index/img/liquid.jpg' %}" 
                                style="margin-top: 15px;">
                        </div>
                    </div>
                    {% include 'index/snippets/close_modal_button.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="swiftModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-6 text-center">
                            <h3 style="margin: 25px;">
                                Swift Stay
                            </h3>
                            <p>
                                A property management system that helps students easily find and apply for accommodation, and allows agencies to process student applications and manage lease agreements.<br /><br />

                                This was a 4 people team project. I was mainly responsible for building the RESTFUL API consumed by both our web app and mobile app, as well as the deployment of the system. Additionally, as the team lead, 
                                I was responsible for making sure each of our team members understood their assignment and ensuring that we completed the assigned tickets at the end of each week.
                            </p>
                            <ol>
                                <li style="margin-left: -40px; list-style: none;">
                                    <span class = "badge badge-dark">Django Rest Framework</span>
                                    <span class = "badge badge-dark">AWS</span>
                                    <span class = "badge badge-dark">Google Maps & Places API</span>
                                    <span class = "badge badge-dark">PostgreSQL</span>
                                    <span class = "badge badge-dark">Xamarin</span>
                                    <span class = "badge badge-dark">Heroku</span>
                                </li>
                            </ol>
                            
                            <div class="btn-group" role="group" style="margin: 5px;">
                                <button onclick="location.href='https://www.youtube.com/watch?v=w0LfKw9jFwU&ab_channel=TlotlegoMogapi'" class="btn button-dark" type="button">
                                    &nbsp; &nbsp; Demo&nbsp;&nbsp;<em class="fa fa-play-circle-o"></em>&nbsp;
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 d-none d-sm-block">
                            <img class="img-fluid img-thumbnail" alt='project screenshot' src="{% static 'index/img/swift.png' %}" 
                                style="margin-top: 15px;">
                        </div>
                    </div>
                    {% include 'index/snippets/close_modal_button.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="mzansiModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-6 text-center">
                            <h3 style="margin: 25px;">
                                Mzansi News
                            </h3>
                            <p>
                                A news articles website. Gathers all the headlines from all the major news networks. 
                                Users can sign up to get access to the site's search functionality, which allows them to 
                                search for news based on location, category, or topic. Made use of NEWS-API to make calls 
                                for the data. <br><br>
                                Runs on Heroku's free plan. Might take a moment to open on first launch.
                            </p>
                            <ol>
                                <li style="margin-left: -40px; list-style: none;">
                                    <span class = "badge badge-dark">RESTful API</span>
                                    <span class = "badge badge-dark">Django</span>
                                    <span class = "badge badge-dark">Bootstrap</span>
                                    <span class = "badge badge-dark">Heroku</span>
                                </li>
                            </ol>
                            
                            <div class="btn-group" role="group" style="margin: 5px;">
                                <button onclick="location.href='https://mzansinews.herokuapp.com/'" class="btn button-dark" type="button">
                                    &nbsp; &nbsp; Live&nbsp;&nbsp;<em class="fa fa-play-circle-o"></em>&nbsp;
                                </button>
                                <button onclick="location.href='https://github.com/tlotlegomgp/news-app'" 
                                    target="_blank" class="btn button-dark" type="button">
                                    Source&nbsp;<em class="fa fa-github"></em>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 d-none d-sm-block">
                            <img class="img-fluid img-thumbnail" alt='project screenshot' src="{% static 'index/img/mzansi.jpg' %}" 
                                style="margin-top: 15px;">
                        </div>
                    </div>
                    {% include 'index/snippets/close_modal_button.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="chatbotModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-6 text-center">
                            <h3>Chatbot</h3>
                            <p>
                                A Django and Python chatbot webapp. Users can ask the bot any number of questions about me. 
                                Trained the model with Tensorflow 2, based of a series of questions people ask me on a regular.
                            </p>
                            <ol>
                                <li style="margin-left: -40px; list-style: none;">
                                    <span class = "badge badge-dark">Django</span>
                                    <span class = "badge badge-dark">Tensorflow</span>
                                    <span class = "badge badge-dark">Python</span>
                                    <span class = "badge badge-dark">Heroku</span>
                                </li>
                            </ol>
                            
                            <div class="btn-group" role="group" style="margin: 5px;">
                                <button onclick="location.href='https://github.com/tlotlegomgp/chat-bot'" 
                                    class="btn button-dark" type="button">
                                    Source&nbsp;<em class="fa fa-github"></em>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 d-none d-sm-block">
                            <img class="img-fluid img-thumbnail" alt='project screenshot' src="{% static 'index/img/chatbot.jpg' %}" 
                                style="margin-top: 15px;">
                        </div>
                    </div>
                    {% include 'index/snippets/close_modal_button.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="weatherModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-6 text-center">
                            <h3>Blue Ski</h3>
                            <p>
                                A weather forecast app. Allows users to search for the weather in any major city in the world. 
                                Made use of OpenWeatherMap-API to make calls for the data.
                                <br><br>
                                Hosted on Heroku using a free plan. Site might take a moment to open on first launch.
                            </p>
                            <ol>
                                <li style="margin-left: -40px; list-style: none;">
                                    <span class = "badge badge-dark">RESTful API</span>
                                    <span class = "badge badge-dark">Django</span>
                                    <span class = "badge badge-dark">Bootstrap</span>
                                    <span class = "badge badge-dark">Heroku</span>
                                </li>
                            </ol>
                            
                            <div class="btn-group" role="group" style="margin: 5px;">
                                <button onclick="location.href='https://blue-ski.herokuapp.com/'" class="btn button-dark" type="button">
                                    &nbsp; &nbsp; Live&nbsp;&nbsp;<em class="fa fa-play-circle-o"></em>&nbsp;
                                </button>
                                <button onclick="location.href='https://github.com/tlotlegomgp/weather-app'" 
                                    class="btn button-dark" type="button">
                                    Source&nbsp;<em class="fa fa-github"></em>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 d-none d-sm-block">
                            <img class="img-fluid img-thumbnail" alt='project screenshot' src="{% static 'index/img/weather.jpg' %}" 
                                style="margin-top: 15px;">
                        </div>
                    </div>
                    {% include 'index/snippets/close_modal_button.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-6 text-center">
                            <h3>Personal Portfolio</h3>
                            <p>
                                A personal website to showcase my skills and projects I've been working on. 
                                Most of the projects were built using Django. All the source code for the projects 
                                in the portfolio is on Github.
                            </p>
                            <ol>
                                <li style="margin-left: -40px; list-style: none;">
                                    <span class = "badge badge-dark">Django</span>
                                    <span class = "badge badge-dark">Bootstrap</span>
                                    <span class = "badge badge-dark">Heroku</span>
                                </li>
                            </ol>
                            
                            <div class="btn-group" role="group" style="margin: 5px;">
                                <button onclick="location.href='https://github.com/tlotlegomgp/portfolio'" 
                                    class="btn button-dark" type="button">
                                    Source&nbsp;<em class="fa fa-github"></em>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 d-none d-sm-block">
                            <img class="img-fluid img-thumbnail" alt='project screenshot' src="{% static 'index/img/portfolio.png' %}" 
                                style="margin-top: 15px;">
                        </div>
                    </div>
                    {% include 'index/snippets/close_modal_button.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
