{% extends "index/header.html" %} {% block content %}

<section style="margin-top: 120px;">
	<div
		class="d-flex d-lg-flex justify-content-center align-items-center"
		style="padding: 50px" 
		style="color: #272d2d;"
	>
		<h1 >Your Email Has Been Recieved</h1>
		<br /><br />
		<p style="font-size: medium">
			Thank you for your interest in my work. I will respond back to you within the next 48 hours...
		</p>
		<a href="{% url 'index' %}">← Back to Home Page</a>
	</div>
</section>

{% endblock %}
