<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0" />
		<title>Tlotlego Mogapi</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arbutus" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link rel="stylesheet" href="{% static 'index/css/styles.min.css' %}" />
		<link rel="shortcut icon" type="image/jpg" href="{% static 'index/favicon/favicon.jpg' %}"/>
		
		<style type="text/css">

			.button-dark {
				background-color: #272d2d;color: rgb(255, 255, 255);
			}

			.badge-dark {
				background-color: #272d2d; padding: 6px; color: rgb(170, 213, 206);
			}

			.badge-light {
				background-color: rgb(170, 213, 206); padding: 6px; color: #272d2d;
			}

			.section-dark {
				background-color: #272d2d; color: rgb(170, 213, 206); padding: 20px; padding-top: 80px; padding-bottom: 80px;
			}

			.section-light {
				background-color: #f6f8ff; color: #272d2d; padding: 20px; padding-top: 50px; padding-bottom: 70px;
			}

			p {
				font-size:large;
			}
		</style>
	</head>

	<body style="opacity: 1; background-color: #f6f8ff; font-family: Montserrat;">
		<nav
			class="navbar navbar-expand-lg fixed-top portfolio-navbar navbar-dark"
			style="background-color: #272d2d; color: rgb(171, 209, 205); padding: 17px"
		>
			<div class="container">
				<a
					class="navbar-brand"
					href="{% url 'index' %}"
					style="color: rgb(171, 209, 205); font-size: 20px; font-family: 'Alfa Slab One', cursive"
					>tlotlegoMGP</a
				>
				<button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav">
					<span class="sr-only">Toggle navigation</span>
					<span class="navbar-toggler-icon navbar-dark"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="nav navbar-nav ml-auto">
						<li class="nav-item">
							<a
								class="nav-link slide-section"
								style="color: rgb(171, 209, 205)"
								href="#sectionProjects"
								>Projects</a
							>
						</li>
						<li class="nav-item">
							<a
								class="nav-link slide-section"
								style="color: rgb(171, 209, 205)"
								href="#sectionContact"
								>Contact</a
							>
						</li>
						<li class="nav-item">
							<a
								class="nav-link"
								style="color: rgb(171, 209, 205)"
								href="{% static 'index/docs/TlotlegoMogapi.pdf' %}"
								target="_blank"
								>CV</a
							>
						</li>
						<li class="nav-item">
							<a
								class="nav-link"
								style="color: rgb(171, 209, 205)"
								href="https://github.com/Dark-Matter-crypto"
								target="_blank"
								rel="noopener noreferrer"
								>Github&nbsp;<em class="fa fa-github"></em
							></a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<style>
			.main {
				min-height: 88vh; height: 100%;
			}
		</style>

		<div>{% block content %} {% endblock %}</div>
		<footer>
			<div class="container">
				<div class="row" style="padding: 30px;">
					<div class="col-lg-6 text-center align-items-center">
						<h5>
							<a href="tel:072-864-3592" style="color: #272d2d;">
								<em class="fa fa-phone"></em>&nbsp;072-864-3592
							</a>
						</h5>
					</div>
					<div class="col-lg-6 text-center align-items-center">
						<h5>
							<a href="mailto:tlotlegomgp@gmail.com" style="color: #272d2d;">
								<em class="fa fa-envelope"></em>&nbsp;tlotlegomgp@gmail.com
							</a>
						</h5>
					</div> 
				</div>
			</div>
		</footer>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" defer></script>
		<script src="{% static 'index/js/script.min.js' %}"></script>
		<script src="{% static 'index/js/custom.js' %}"></script>
	</body>
</html>
