<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0" />
		<title>Tlotlego Mogapi</title>
		<link rel="stylesheet" href="{% static 'index/bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'index/css/styles.min.css' %}" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arbutus" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<link rel="shortcut icon" type="image/jpg" href="{% static 'index/favicon/portfolio.jpg' %}"/>
		
		<style type="text/css">

			.button-dark {
				background-color: #272d2d;color: rgb(255, 255, 255); border-color: rgb(170, 213, 206);
			}

			.badge-dark {
				background-color: #272d2d; padding: 6px; color: rgb(170, 213, 206);
			}

			.badge-light {
				background-color: rgb(170, 213, 206); padding: 6px; color: #272d2d;
			}

			.section-dark {
				background-color: #272d2d; color: rgb(170, 213, 206); padding: 20px; padding-top: 80px; padding-bottom: 80px;
			}

			.section-light {
				background-color: #f6f8ff; color: #272d2d; padding: 20px; padding-top: 50px; padding-bottom: 70px;
			}

			p {
				font-size:large;
			}
		</style>
	</head>

	<body id="page-top">
		<nav class="navbar navbar-expand-lg fixed-top" id="mainNav" style="background: #272d2d;border-color: #272d2d;">
			<div class="container">
				<a
					class="navbar-brand"
					href="{% url 'index' %}"
					style="color: rgb(170, 213, 206);font-size: 20px; font-family: 'Alfa Slab One', cursive"
					>tlotlegoMGP
				</a>
				<button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="background: rgb(171, 209, 205);color: #272d2d;"><i class="fa fa-bars"></i>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="nav navbar-nav ml-auto text-uppercase">
						<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">PROJECTS</a></li>
						<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">CONTACT</a></li>
						<li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% static 'index/docs/TlotlegoMogapi.pdf' %}" target="_blank">CV</a></li>
						<li class="nav-item"><a class="nav-link js-scroll-trigger" href="https://github.com/Dark-Matter-crypto" target="_blank" rel="noopener noreferrer">Github&nbsp;<em class="fa fa-github" style="font-size: 14px;"></em></a></li>
					</ul>
				</div>
			</div>
		</nav>
		<style>
			.main {
				min-height: 61vh; height: 100%;
			}
		</style>

		<div class="main">{% block content %} {% endblock %}</div>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<a href="tel:072-864-3592" style="color: #272d2d;">
							<em class="fa fa-phone"></em>&nbsp;072-864-3592
						</a>
					</div>
					<div class="col-md-4">
						<ul class="list-inline social-buttons">
							<li class="list-inline-item">
								<a href="#" target="_blank" style="background: #272d2d">
									<em class="fa fa-twitter"></em>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://github.com/Dark-Matter-crypto" target="_blank" rel="noopener noreferrer" style="background: #272d2d">
									<em class="fa fa-github-alt"></em>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://t.me/tlotlegomgp" target="_blank" rel="noopener noreferrer" style="background: #272d2d">
									<em class="fa fa-telegram"></em>
								</a>
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<a href="mailto:tlotlegomgp@gmail.com" style="color: #272d2d;">
							<em class="fa fa-envelope"></em>&nbsp;tlotlegomgp@gmail.com
						</a>
					</div>
				</div>
			</div>
		</footer>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
		<script src="{% static 'index/js/script.min.js' %}"></script>
	</body>
</html>
