{% extends "index/header.html" %}
{% load static %}
{% block content %}

<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading text-uppercase">
                <span style="color: rgb(52,58,64);">Hi, I'm Tlotlego Mogapi</span>
            </div>
            <div class="intro-lead-in" style="font-size: 0px;text-align: center;color: rgb(52,58,64);height: 245px;">
                <span class="text-center" style="color: rgb(52,58,64);font-size: 25px;text-align: center;">
                    I'm a web developer based in Johannesburg. I enjoy working on fun projects and I wish to bring together the skills I've learned 
                    to turn complex problems into simple solutions.
                </span>
            </div>
            <a class="btn btn-primary text-center justify-content-center align-items-center align-content-center align-self-center btn-xl 
                text-uppercase js-scroll-trigger" role="button" href="#portfolio" style="width: 183.094px;height: 66px;background: rgb(114, 131, 135);
                border-width: 0px;">see more
            </a>
        </div>
    </div>
</header>

<style type="text/css">
    .project-title{
        color: rgb(52,58,64);
    }
</style>

<section id="portfolio" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Projects</h2>
            </div>
        </div>
        <div class="row" style="margin-top: 50px;">
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#liquidModal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><em class="fa fa-plus fa-3x" style="color: rgb(52,58,64);"></em></div>
                    </div>
                    <img class="img-fluid" src="{% static 'index/img/liquid.jpg' %}" alt="liquid-thumb">
                </a>
                <div class="portfolio-caption">
                    <h4 class="project-title">Liquid</h4>
                    <p style="font-family: Montserrat; font-style: normal;">
                        An issue tracker web-app that keeps track of reported software issues in projects.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#mzansiModal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><em class="fa fa-plus fa-3x" style="color: rgb(52,58,64);"></em></div>
                    </div>
                    <img class="img-fluid" src="{% static 'index/img/mzansi.jpg' %}" alt="chatbot-thumb">
                </a>
                <div class="portfolio-caption">
                    <h4 class="project-title">Mzansi News</h4>
                    <p style="font-family: Montserrat; font-style: normal;">
                        A news articles website. Gathers all the headlines from all the major news networks.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#chatbotModal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><em class="fa fa-plus fa-3x" style="color: rgb(52,58,64);"></em></div>
                    </div>
                    <img class="img-fluid" src="{% static 'index/img/chatbot.jpg' %}" alt="mzansi-thumb">
                </a>
                <div class="portfolio-caption">
                    <h4 class="project-title">Chatbot</h4>
                    <p style="font-family: Montserrat; font-style: normal;">
                        A Django and Tensorflow chatbot web-app.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#weatherModal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><em class="fa fa-plus fa-3x" style="color: rgb(52,58,64);"></em></div>
                    </div>
                    <img class="img-fluid" src="{% static 'index/img/weather.jpg' %}" alt="weather-thumb">
                </a>
                <div class="portfolio-caption">
                    <h4 class="project-title">Blue Ski</h4>
                    <p style="font-family: Montserrat; font-style: normal;">
                        A weather forecast app. Allows users to search for the weather in any major city.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><em class="fa fa-plus fa-3x" style="color: rgb(52,58,64);"></em></div>
                    </div>
                    <img class="img-fluid img-fluid" src="{% static 'index/img/portfolio.jpg' %}" alt="portfolio-thumb">
                </a>
                <div class="portfolio-caption">
                    <h4 class="project-title">tlotlegoMGP</h4>
                    <p style="font-family: Montserrat; font-style: normal;">
                        A personal website to showcase projects I've been working on.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 justify-content-center align-items-center" style=" margin-top: 160px; height: 10px;">
                <h3 class="text-center" style="color: rgb(52,58,64)">
                    Like what you see?
                </h3>
            </div>
        </div>
    </div>
</section>


<section id="sectionContact">
    <div class="contact-clean" style="background-color: #f6f8ff; margin-top: -100px;">
        <form method="POST" action="{% url 'index' %}"> {% csrf_token %}
            <h2 class="text-center" style="color: rgb(200, 211, 213);">Contact me</h2>
            <div class="form-group">
                {% for message in messages %}
                <div class="alert alert-danger">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                    {{ message }}
                </div>
                {% endfor %}
                {{ form.email }}
            </div>
            <div class="form-group">
                {{ form.subject }}
            </div>
            <div class="form-group">
                {{ form.message }}
            </div>
            <div class="form-group">
                <button class="btn btn-sm border-light" type="submit" 
                    style="background-color: rgb(200, 211, 213);color: rgb(33,37,41);">send
                </button>
            </div>
        </form>
    </div>
</section>

{% endblock %}