{% extends "index/header.html" %}
{% load static %}
{% block content %}

<section style="background-color: #f6f8ff; margin-top: 170px; color: #272d2d;">
    <div class="container" style="padding-bottom: 50px;">
        <div class="text-center">
            <p style="font-family: Arbutus, cursive;font-size: 35px;">Hi, I'm Tlotlego Mogapi.&nbsp;</p>
        </div>
        <div class="text-center" style="padding: 30px; padding-top: 60px; padding-bottom: 70px;">
            <p style="font-size:x-large">
                I'm a developer based in Johannesburg. I enjoy working on fun projects 
                and wish to bring together the skills I learned throughout my academic years 
                and those I learned on my own to turn complex problems into simple solutions.
            </p>
        </div>
        <hr class="text-center" style="padding: 1.2px; background-color: #272d2d; width: 110px; border-radius:500cm;">
    </div>
    <div id = "sectionProjects" class="d-flex d-lg-flex text-center justify-content-center">
        <h1 style="padding: 30px; margin-top: 10px; margin-bottom:95px;">
            My Projects
        </h1>
    </div>
</section>

<section class="section-dark">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-6 text-center">
                <h3>Liquid Bug Tracker</h3>
                <p>
                    A bug tracker web-app that keeps track of reported software bugs or issues in software development
                     projects. Helps teams collaborate and get work done easily and more efficiently. 
                     The system has a per-project role-based access control for users. The system allows for 4 types 
                     of users; Admin, Project Manager, Developer, and Submitter.<br><br>
                     Site hosted on Heroku's free plan. Might take a moment to open on first launch.
                </p>
                <ol>
                    <li style="margin-left: -40px; list-style: none;">
                        <span class = "badge badge-light">Django</span>
                        <span class = "badge badge-light">Bootstrap</span>
                        <span class = "badge badge-light">PostgreSQL</span>
                        <span class = "badge badge-light">AWS</span>
                        <span class = "badge badge-light">Heroku</span>
                    </li>
                </ol>
                
                <div class="btn-group" role="group" style="margin: 5px;">
                    <button class="btn btn-sm border-light button-dark" type="button">
                        &nbsp; &nbsp; Live&nbsp;&nbsp;<em class="fa fa-play-circle-o"></em>&nbsp;
                    </button>
                    <button onclick="location.href='https://github.com/Dark-Matter-crypto/Tlotlego-WeatherApp'" 
                        class="btn btn-sm border-light button-dark" type="button">
                        Source&nbsp;<em class="fa fa-github"></em>
                    </button>
                </div>
            </div>
            <div class="col-md-12 col-lg-5">
                <img class="img-fluid" alt='project screenshot' src="{% static 'index/img/liquid.jpg' %}" 
                    style="margin-top: 15px;">
            </div>
        </div>
    </div>
</section>

<section class = "section-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-5">
                <img class="img-fluid" alt='project screenshot' src="{% static 'index/img/mzansi.jpg' %}" 
                    style="margin-top: 15px;">
            </div>
            <div class="col-md-12 col-lg-6 text-center">
                <h3 style="margin: 25px;">
                    Mzansi News
                </h3>
                <p>
                    A news articles website. Gathers all the headlines from all the major news networks. 
                    Users can sign up to get access to the site's search functionality, which allows them to 
                    search for news based on location, category, or topic. Made use of NEWS-API to make calls 
                    for the data. <br><br>
                    Runs on Heroku's free plan. Might take a moment to open on first launch.
                </p>
                <ol>
                    <li style="margin-left: -40px; list-style: none;">
                        <span class = "badge badge-dark">RESTful API</span>
                        <span class = "badge badge-dark">Django</span>
                        <span class = "badge badge-dark">Bootstrap</span>
                        <span class = "badge badge-dark">Heroku</span>
                    </li>
                </ol>
                
                <div class="btn-group" role="group" style="margin: 5px;">
                    <button class="btn btn-sm button-dark border-light" type="button">
                        &nbsp; &nbsp; Live&nbsp;&nbsp;<em class="fa fa-play-circle-o"></em>&nbsp;
                    </button>
                    <button onclick="location.href='https://github.com/Dark-Matter-crypto/tlotlego-news_app'" 
                        target="_blank" class="btn btn-sm border-light button-dark" type="button">
                        Source&nbsp;<em class="fa fa-github"></em>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-dark">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-6 text-center">
                <h3>Personal Portfolio</h3>
                <p>
                    A personal website to showcase my skills and projects I've been working on. 
                    Most of the projects were built using Django. All the source code for the projects 
                    in the portfolio is on Github.
                </p>
                <ol>
                    <li style="margin-left: -40px; list-style: none;">
                        <span class = "badge badge-light">Django</span>
                        <span class = "badge badge-light">Bootstrap</span>
                        <span class = "badge badge-light">Heroku</span>
                    </li>
                </ol>
                
                <div class="btn-group" role="group" style="margin: 5px;">
                    <button onclick="location.href='https://github.com/Dark-Matter-crypto/Tlotlego-Portfolio'" 
                        class="btn btn-sm border-light button-dark" type="button">
                        Source&nbsp;<em class="fa fa-github" style="color: rgb(255, 255, 255);"></em>
                    </button>
                </div>
            </div>
            <div class="col-md-12 col-lg-5">
                <img class="img-fluid" alt='project screenshot' src="{% static 'index/img/portfolio.jpg' %}" 
                    style="margin-top: 15px;">
            </div>
        </div>
    </div>
</section>

<section class="section-dark">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-6 text-center">
                <h3>MGP Weather</h3>
                <p>
                    A weather forecast app. Allows users to search for the weather in any major city in the world. 
                    Made use of OpenWeatherMap-API to make calls for the data.
                    <br><br>
                    Hosted on Heroku using a free plan. Site might take a moment to open on first launch.
                </p>
                <ol>
                    <li style="margin-left: -40px; list-style: none;">
                        <span class = "badge badge-light">RESTful API</span>
                        <span class = "badge badge-light">Django</span>
                        <span class = "badge badge-light">Bootstrap</span>
                        <span class = "badge badge-light">Heroku</span>
                    </li>
                </ol>
                
                <div class="btn-group" role="group" style="margin: 5px;">
                    <button class="btn btn-sm border-light button-dark" type="button">
                        &nbsp; &nbsp; Live&nbsp;&nbsp;<em class="fa fa-play-circle-o"></em>&nbsp;
                    </button>
                    <button onclick="location.href='https://github.com/Dark-Matter-crypto/Tlotlego-WeatherApp'" 
                        class="btn btn-sm border-light button-dark" type="button">
                        Source&nbsp;<em class="fa fa-github"></em>
                    </button>
                </div>
            </div>
            <div class="col-md-12 col-lg-5">
                <img class="img-fluid center" alt='project screenshot' src="{% static 'index/img/weather.jpg' %}" 
                    style="margin-top: 15px;">
            </div>
        </div>
    </div>
</section>

<section>
    <div class = "justify-content-center align-items-center" style="padding: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="margin-top: 100px;">
                    <h4 class="text-center" style="color: #272d2d;">
                        Like what you see?
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section id = "sectionContact">
    <div class="contact-clean" style="background-color: #f6f8ff;">
        <form method="POST" action="{% url 'index' %}"> {% csrf_token %}
            <h2 class="text-center">Contact me</h2>
            <div class="form-group">
                {{ form.subject }}
            </div>
            <div class="form-group">
                {% for message in messages %}
                <div class="alert alert-danger">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                    {{ message }}
                </div>
                {% endfor %}
                {{ form.email }}
            </div>
            <div class="form-group">
                {{ form.message }}
            </div>
            <div class="form-group">
                <button class="btn btn-sm border-light" type="submit" 
                    style="background-color: rgb(170, 213, 206);color: #272d2d;">send
                </button>
            </div>
        </form>
    </div>
    <hr style="background-color: #272d2d;">
</section>

{% endblock %}